GEMINI_API_KEY=
ALERT_MARGIN_PCT=
ALERT_PHONE_NUMBERS=
ALERT_WHATSAPP_FROM=
CRON_SECRET=
SHEETS_WEBAPP_URL=
TARIFF_BRL_PER_KWH=
VONAGE_API_KEY=
VONAGE_API_SECRET=
VONAGE_APPLICATION_ID=
VONAGE_PRIVATE_KEY=
VONAGE_WHATSAPP_TEMPLATE_LOCALE=
VONAGE_WHATSAPP_TEMPLATE_NAME=
VONAGE_WHATSAPP_TEMPLATE_NAMESPACE=